@font-face {
    font-family: 'slimfont';
    src: local("slimfont"), url("./Comp.otf");
  }

  .app {
    font-family: slimfont;
    background-image: url("../public/fish.png");
    background-repeat: round;
  }